Andrew Patterson <ajpatterson@lifesci.dundee.ac.uk> <workonly@qidane.com>
Curtis Rueden <ctrueden@wisc.edu>
David Pinto <david.pinto@bioch.ox.ac.uk> <carandraug+dev@gmail.com>
Helen Flynn <h.flynn@dundee.ac.uk> <omehelen@gmail.com>
Jean-Marie Burel <j.burel@dundee.ac.uk>
Johannes Schindelin <johannes.schindelin@gmx.de> <Johannes.Schindelin@gmx.de>
Josh Moore <josh@openmicroscopy.org> <josh.moore@gmx.de>
Josh Moore <josh@openmicroscopy.org> <josh@glencoesoftware.com>
Mark Carroll <m.t.b.carroll@dundee.ac.uk> <M.T.B.Carroll@Dundee.ac.uk>
Melissa Linkert <melissa@glencoesoftware.com> <melissa.linkert@gmail.com>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@debian.org>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@dundee.ac.uk>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@codelibre.net>
Sébastien Besson <sbesson@glencoesoftware.com> <seb.besson@gmail.com>
Simone Leo <s.z.leo@dundee.ac.uk> <simleo@crs4.it>
